{{#partial "contenido"}}
<div class="detalle">
{{#organizacion}}
<h1>{{nombre}}</h1>
<hr>

<h2 class="span-detalle">Entidades</h2>
	<section style="display:inline-block;">
	<form action="/organizaciones/{{this.id}}"
		method="GET" style="display:inline-block;">
		<span class="span-detalle" for="categoria" >Seleccione una categoría</span>

		<select name="filtro" >
			{{#each categorias}}
				<option value="{{this.id}}">{{this.nombreCategoria}}</option>
			{{/each}}
		</select>
		<input class="btn-modificar" type="submit" value="    Filtrar    " ></input>
    </form>
	<form action="/organizaciones/{{this.id}}"
		method="GET" style="display:inline-block;">
		 <input class="btn-borrar"  type="submit" value="Remover  Filtro" style="margin-left:0"></input>
	</form>
		</section>
{{/organizacion}}
		

		<h3 class="span-detalle">Entidades Base 
			<form action="{{organizacion.id}}/entidades/base/nueva" method="GET" style="display:inline-block;">
				<input class="btn-agregar" type="submit" value="Nueva" style="margin-left:0"/>
			</form>
		</h3>
	
		<table>		
    		{{#each entidadesBase}}
    		<tr>
    			<td class="primer-columna"><a class="elemento-detalle">{{this.nombreFicticio}}</a></td>
    			<td class="celda-botones">
					<a class="btn-detalle" href="{{organizacion.id}}/entidades/base/{{this.id}}">
						<i class="small material-icons">description</i>Ver detalle</a>
					<a href="#" class="btn-modificar">
						<i class="small material-icons">edit</i>
						Modificar
					</a>
					<a href="#" class="btn-borrar">
						<i class="small material-icons">delete</i>
						Borrar
					</a>
				</td>
			</tr>
    		{{/each}}
 		</table>
 		
 		<h3 class="span-detalle">Entidades Jurídicas
 			<form action="{{organizacion.id}}/entidades/juridica/nueva" method="GET" style="display:inline-block;">
				<input class="btn-agregar" type="submit" value="Nueva" style="margin-left:0"/>
			</form>
 		</h3>
 		<table> 
    		{{#each entidadesJuridicas}}
    		<tr>
        		<td class="primer-columna"><a>{{this.nombreFicticio}}</a></td>
        		<td class="celda-botones">
					<a class="btn-detalle" href="{{organizacion.id}}/entidades/juridica/{{this.id}}">
						<i class="small material-icons">description</i>Ver detalle</a>
					<a href="#" class="btn-modificar">
						<i class="small material-icons">edit</i>
						Modificar
					</a>
					<a href="#" class="btn-borrar">
						<i class="small material-icons">delete</i>
						Borrar
					</a>
				</td>
			</tr>
			{{/each}}
		</table>
	


{{#organizacion}}
<hr>
<h3 class="span-detalle">Categorías</h3>
<ul>
    {{#each categorias}}
        <li class="valor-detalle">{{this.nombreCategoria}}</li>
    {{/each}}
</ul>
<hr>
<h3 class="span-detalle">Validaciones para egresos</h3>
<ul>
    {{#each validacionesEgresos}}
        <li class="valor-detalle">{{this}}</li>
    {{/each}}
</ul>
<hr>
<h3 class="span-detalle">Etiquetas disponibles</h3>
    <ul>
    	{{#each etiquetasDisponibles}}
        	<li class="valor-detalle">{{this}}</li>
    	{{/each}}
    </ul>
    <hr>
{{/organizacion}}
</div>
{{/partial}}
{{> layout.html.hbs }}