{{#partial "contenido"}}
<div class="detalle">
{{#organizacion}}
<h1>{{nombre}}</h1>
<hr>

<h2 class="span-detalle">Entidades</h2>
	<form action="/organizaciones/{{this.id}}"
		method="POST">
		<span class="span-detalle" for="categoria">Seleccione una categoría </span>
		
		<p class="valor-detalle">
		<select name="categoria">
			{{#each categorias}}
				<option value="{{this.id}}">{{this.nombreCategoria}}</option>
			{{/each}}
		</select>
		<input class="btn-modificar" type="submit" value="Filtrar"></input>
		</form>
		</p>
		
<table class="center" style="text-align:justify;">
	<tr>
		<td><h3 class="span-detalle">Entidades Base</h3></td>	
		<td><h3 class="span-detalle">Entidades Jurídicas</h3></td>		
	<tr/>
	<tr>
		<td><ul>
    		{{#each entidadesBase}}
    			<li><a class="elemento-detalle" href="{{organizacion.id}}/entidades/base/{{this.id}}">{{this.nombreFicticio}}</a></li>
    		{{/each}}
 		</ul></td>
 		<td><ul>
    		{{#each entidadesJuridicas}}
        		<li><a href="{{organizacion.id}}/entidades/juridica/{{this.id}}">{{this.nombreFicticio}}</a></li>
    		{{/each}}
		</ul></td>
	</tr>
	<tr>
		<td><form action="{{organizacion.id}}/entidades/base/nueva" method="GET">
			<input class="btn-agregar" type="submit" value="Crear Entidad Base"/>
		</form></td>
		<td><form action="{{organizacion.id}}/entidades/juridica/nueva" method="GET">
			<input class="btn-agregar" type="submit" value="Crear Entidad Juridica"/>
		</form></td>
	</tr>
</table>



<hr>
<h3 class="span-detalle">Categorías</h3>
<ul>
    {{#each categorias}}
        <li class="valor-detalle">{{this.nombreCategoria}}</li>
    {{/each}}
</ul>
<hr>
<h3 class="span-detalle">Validaciones para egresos</h3>
<ul>
    {{#each validacionesEgresos}}
        <li class="valor-detalle">{{this}}</li>
    {{/each}}
</ul>
<hr>
<h3 class="span-detalle">Etiquetas disponibles</h3>
    <ul>
    	{{#each etiquetasDisponibles}}
        	<li class="valor-detalle">{{this}}</li>
    	{{/each}}
    </ul>
    <hr>
{{/organizacion}}
</div>
{{/partial}}
{{> layout.html.hbs }}