{{#partial "contenido"}}
{{#entidad}}
<h1>{{nombreFicticio}}</h1>
{{#if descripcion}}
    <span>Descripción: {{descripcion}}</span></br>
{{/if}}
    <div>
<form method="put">
<label for="nuevaCategoriaAsignada">Categoria: {{categoria.nombreCategoria}} </label>

 <select name="nuevaCategoriaAsignada" id="nuevaCategoriaAsignada">
            {{#each categorias}}
                <option value="{{this.id}}">{{this.nombreCategoria}}</option>
            {{/each}}
        </select>
        <input type="submit" value="Modificar"></input>
    </form>
    </div>
    
{{#if razonSocial}}
    <span>Razón social: {{razonSocial}}</span></br>
{{/if}}
{{#if cuit}}
    <span>CUIT: {{cuit}}</span></br>
{{/if}}
{{#if direccionPostal}}
    <span>Dirección Postal: {{direccionPostal}}</span></br>
{{/if}}
{{#if codigoInscripcionIGJ}}
    <span>Código inscripción IGJ: {{codigoInscripcionIGJ}}</span></br>
{{/if}}
<span>Egresos:</span></br>
<ul>
    {{#each egresos}}
        <li><a href="{{entidad.id}}/egresos/{{this.egreso_id}}">Egreso {{this.egreso_id}} ({{this.fechaDeOperacion}})</a></li>
    {{/each}}
</ul>
<a href="{{entidad.id}}/egresos/nuevo">Agregar egreso</a>
{{/entidad}}
{{/partial}}

{{> layout.html.hbs }}