{{#partial "contenido"}}
{{#organizacion}}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{nombre}}</li>
    </ol>
</nav>
<h1>{{nombre}}</h1>
<hr>
<h2 class="span-detalle">Entidades</h2>
	<section style="display:inline-block;">
	<form action="/organizaciones/{{this.id}}"
		method="GET" style="display:inline-block;">
		<span class="span-detalle" for="categoria" >Seleccione una categoría</span>
		<select name="filtro" >
			{{#each categorias}}
				<option value="{{this.id}}">{{this.nombreCategoria}}</option>
			{{/each}}
		</select>
		<input class="btn btn-warning" type="submit" value="Filtrar"></input>
    </form>
	<form action="/organizaciones/{{this.id}}"
		method="GET" style="display:inline-block;">
		 <input class="btn btn-danger" type="submit" value="Remover Filtro" style="margin-left:0"></input>
	</form>
		</section>
{{/organizacion}}

<h3 class="span-detalle">Entidades Base
    <a href="{{organizacion.id}}/entidades/base/nueva" class="btn btn-primary btn-nueva" type="submit" value="Nueva"/>
        <i class="small material-icons">add_circle_outline</i> Agregar
    </a>
</h3>

{{#if entidadesBase}}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {{#each entidadesBase}}
            <tr>
                <td>{{nombreFicticio}}</td>
                <td>
                    <a class="btn btn-info" href="{{organizacion.id}}/entidades/base/{{this.id}}">
                        <i class="small material-icons">description</i>Ver detalle</a>
                    <a href="#" class="btn btn-warning">
                        <i class="small material-icons">edit</i>
                        Modificar
                    </a>
                    <a href="#" class="btn btn-danger">
                        <i class="small material-icons">delete</i>
                        Borrar
                    </a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
    <div class="alert alert-danger text-center" role="alert">
        No se encontró ninguna entidad base.
    </div>
{{/if}}
<h3 class="span-detalle">Entidades Jurídicas
    <a href="{{organizacion.id}}/entidades/juridica/nueva" class="btn btn-primary btn-nueva" type="submit" value="Nueva"/>
        <i class="small material-icons">add_circle_outline</i> Agregar
    </a>
</h3>
{{#if entidadesJuridicas}}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        {{#each entidadesJuridicas}}
            <tr>
                <td>{{nombreFicticio}}</td>
                <td>
                    <a class="btn btn-info" href="{{organizacion.id}}/entidades/juridica/{{this.id}}">
                        <i class="small material-icons">description</i>Ver detalle</a>
                    <a href="#" class="btn btn-warning">
                        <i class="small material-icons">edit</i>
                        Modificar
                    </a>
                    <a href="#" class="btn btn-danger">
                        <i class="small material-icons">delete</i>
                        Borrar
                    </a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
    <div class="alert alert-danger text-center" role="alert">
        No se encontró ninguna entidad jurídica.
    </div>
{{/if}}
{{#organizacion}}
<hr>
<div class="accordion" id="accordionOrganizacion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <h3>Categorías <span class="badge badge-primary">{{cantidadCategorias}}</span></h3>
                </button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionOrganizacion">
            <div class="card-body">
                <ul>
                    {{#each categorias}}
                        <li class="valor-detalle">{{this.nombreCategoria}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h3>Validaciones para egresos <span class="badge badge-primary">{{cantidadValidaciones}}</span></h3>
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionOrganizacion">
            <div class="card-body">
                <ul>
                    {{#each validacionesEgresos}}
                        <li class="valor-detalle">{{this.nombre}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <h3>Etiquetas disponibles <span class="badge badge-primary">{{cantidadEtiquetas}}</span></h3>
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionOrganizacion">
            <div class="card-body">
                <ul>
                    {{#each etiquetasDisponibles}}
                        <li class="valor-detalle">{{this}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
{{/organizacion}}
{{/partial}}
{{> layout.html.hbs }}