{{#entidad}}
<h1>{{nombreFicticio}}</h1>
<span>Categoria: {{categoria}}</span></br>
<span>Raz贸n social: {{razonSocial}}</span></br>
<span>CUIT: {{cuit}}</span></br>
<span>Direcci贸n Postal: {{direccionPostal}}</span></br>
<span>C贸digo inscripci贸n IGJ: {{codigoInscripcionIGJ}}</span></br>
<span>Egresos:</span></br>
<ul>
    {{#each egresos}}
        <li><a href="{{entidad.id}}/egresos/{{this.egreso_id}}">Egreso {{this.egreso_id}} ({{this.fechaDeOperacion}})</a></li>
    {{/each}}
</ul>
<a href="{{entidad.id}}/egresos/nuevo">Agregar egreso</a>
{{/entidad}}
