{{# partial "contenido" }}
<div class="detalle">
	{{#entidad}}
	<h1>{{nombreFicticio}}</h1>
	<hr>
	<div class="seccion-texto-detalle">
		<div class="elemento-detalle">
			<span class="span-detalle">Descripción: </span>
			<p class="valor-detalle">{{descripcion}}</p>
			<p>
		</div>
		<div class="elemento-detalle">
			<form
				action="/organizaciones/{{idOrganizacion}}/entidades/base/{{this.id}}"
				method="POST">
				<label class="span-detalle" for="categoria">Categoria: </label>
				<p class="valor-detalle">{{categoria.nombreCategoria}}</p>
				<p>
					<select name="categoria">
						{{#each categorias}}
						<option value="{{this.id}}">{{this.nombreCategoria}}</option>
						{{/each}}
					</select>
					<input class="btn-modificar" type="submit" value="Modificar"></input>
			</form>
		</div>
	</div>
	<hr>
	<h4 class="span-detalle">Egresos</h4>
	<p>
		<table>
			{{#each egresos}}
			<tr>
				<td>
					<a href="{{entidad.id}}/egresos/{{this.egreso_id}}">Egreso {{this.egreso_id}} ({{this.fechaDeOperacion}})</a>
				</td>
				<td class="celda-botones">
					<a href="#" class="btn-modificar">
						<i class="small material-icons">edit</i>
						Modificar
					</a>
					<a href="#" class="btn-borrar">
						<i class="small material-icons">delete</i>
						Borrar
					</a>
				</td>
			</tr>
			{{/each}}
		</table>
		<p>
			<a class="btn-agregar" href="{{entidad.id}}/egresos/nuevo">Agregar egreso</a>
			<hr>
{{/entidad}}
</div>
{{/partial}}
{{> layout.html.hbs }}