{{# partial "contenido" }}
<div class="detalle">
	{{#entidad}}
	<h1>{{nombreFicticio}}</h1>
	<hr>
	<div class="seccion-texto-detalle">
		<div class="elemento-detalle">
			<form
				action="/organizaciones/{{idOrganizacion}}/entidades/juridica/{{this.id}}"
				method="POST">
				<span class="span-detalle" for="categoria">Categoría:</span><p class="valor-detalle">{{categoria.nombreCategoria}}</p>
				<p class="valor-detalle">
					<select name="categoria">
						{{#each categorias}}
						<option value="{{this.id}}">{{this.nombreCategoria}}</option>
						{{/each}}
					</select>
					<input class="btn-modificar" type="submit" value="Modificar"></input>
					</p>
			</form>
		</div>
		<div class="elemento-detalle">
			<span class="span-detalle">Razón social: </span>
			<p class="valor-detalle">{{razonSocial}}</p>
			<p>
		</div>
		<div class="elemento-detalle">
			<span class="span-detalle">CUIT: </span>
			<p class="valor-detalle">{{cuit}}</p>
			<p>
		</div>
		<div class="elemento-detalle">
			<span class="span-detalle">Dirección Postal: </span>
			<p class="valor-detalle">{{direccionPostal}}</p>
			<p>
		</div>
		<div class="elemento-detalle">
			<span class="span-detalle">Código inscripción IGJ: </span>
			<p class="valor-detalle">{{codigoInscripcionIGJ}}</p>
		</div>
		<div class="elemento-detalle">
			<span class="span-detalle">Egresos:</span>
		</div>
	</div>
	<hr>
	<h4 class="span-detalle">Egresos<a class="btn-nuevo-egreso" href="{{entidad.id}}/egresos/nuevo">Nuevo</a></h4>
	<p>
		<table>
			{{#each egresos}}
			<tr>
				<td class="primer-columna">Egreso {{this.egreso_id}} ({{this.fechaDeOperacion}})</td>
				<td class="celda-botones">
					<a class="btn-detalle" href="{{entidad.id}}/egresos/{{this.egreso_id}}">
						<i class="small material-icons">description</i>Ver detalle</a>				
					<a href="#" class="btn-modificar">
						<i class="small material-icons">edit</i>
						Modificar
					</a>
					<a href="#" class="btn-borrar">
						<i class="small material-icons">delete</i>
						Borrar
					</a>
				</td>
			</tr>
			{{/each}}
		</table>
		<p>
		 <hr>	
{{/entidad}}
</div>
{{/partial}}
{{> layout.html.hbs }}