{{#entidad}}
<h1>{{nombreFicticio}}</h1>
<div>
<form action="/organizaciones/{{idOrganizacion}}/entidades/juridica/{{this.id}}" method="POST">
	<label for="nuevaCategoriaAsignada">Categoria: {{categoria.nombreCategoria}} </label>
 	<select name="nuevaCategoriaAsignada">
    	{{#each categorias}}
	        <option value="{{this.id}}">{{this.nombreCategoria}}</option>
        {{/each}}
	</select>
    <input type="submit" value="Modificar"></input>
    </form>
</div>
<span>Raz贸n social: {{razonSocial}}</span></br>
<span>CUIT: {{cuit}}</span></br>
<span>Direcci贸n Postal: {{direccionPostal}}</span></br>
<span>C贸digo inscripci贸n IGJ: {{codigoInscripcionIGJ}}</span></br>
<span>Egresos:</span></br>
<ul>
    {{#each egresos}}
        <li><a href="{{entidad.id}}/egresos/{{this.egreso_id}}">Egreso {{this.egreso_id}} ({{this.fechaDeOperacion}})</a></li>
    {{/each}}
</ul>
<a href="{{entidad.id}}/egresos/nuevo">Agregar egreso</a>
{{/entidad}}
