{{#partial "contenido"}}
{{#organizacion}}
<h1>{{nombre}}</h1>

<table>
	<tr>
		<td><h3>Entidades Base</h3><td/>
		<td><form action="{{organizacion.id}}/entidades/base/nueva" method="GET">
			<input type="submit" value="Crear Entidad Base"/>
		</form><td/>
	<tr/>
</table>


<ul>
    {{#each entidadesBase}}
    <li><a href="{{organizacion.id}}/entidades/base/{{this.id}}">{{this.nombreFicticio}}</a></li>
    {{/each}}
 </ul>
 
<table>
	<tr>
		<td><h3>Entidades Jurídicas</h3><td/>
		<td><form action="{{organizacion.id}}/entidades/juridica/nueva" method="GET">
			<input type="submit" value="Crear Entidad Juridica"/>
		</form><td/>
	<tr/>
</table>

<ul>
    {{#each entidadesJuridicas}}
        <li><a href="{{organizacion.id}}/entidades/juridica/{{this.id}}">{{this.nombreFicticio}}</a></li>
    {{/each}}
</ul>
<h3>Categorías</h3>
<ul>
    {{#each categorias}}
        <li>{{this.nombreCategoria}}</li>
    {{/each}}
</ul>
<h3>Validaciones para egresos</h3>
<ul>
    {{#each validacionesEgresos}}
        <li>{{this}}</li>
    {{/each}}
</ul>
<h3>Etiquetas disponibles</h3>
    {{#each etiquetasDisponibles}}
        <li>{{this}}</li>
    {{/each}}
{{/organizacion}}
{{/partial}}
{{> layout.html.hbs }}