{{# partial "contenido" }}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="/organizaciones/{{idOrganizacion}}">{{nombreOrganizacion}}</a></li></li>
        <li class="breadcrumb-item active" aria-current="page">Nueva entidad jurídica</li>
    </ol>
</nav>
<h1>Nueva entidad jurídica</h1>
<form action="/organizaciones/{{idOrganizacion}}/entidades/juridica" method="POST">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" class="form-control">
        <label for="categorias">Categorias</label>
        <select id="categorias" name="categoria" class="form-control">
            {{#each categorias}}
                <option value="{{this.id}}">{{this.nombreCategoria}}</option>
            {{/each}}
        </select>
        <label for="razonSocial">Razón Social</label>
        <input type="text" id="razonSocial" name="razonSocial" class="form-control">
        <label for="cuit">CUIT</label>
        <input type="text" id="cuit" name="cuit" class="form-control">
        <label for="codigoPostal">Código Postal</label>
        <input type="text" id="codigoPostal" name="codigoPostal" class="form-control">
        <label for="codigoInscripcionIGJ">Código Inscripción IGJ</label>
        <input type="text" id="codigoInscripcionIGJ" name="codigoInscripcionIGJ" class="form-control">
    </div>
    <hr>
    <div class="text-center">
        <input type="submit" class="btn btn-success btn-block" value="Crear entidad">
        <br>
        <a href="/organizaciones/{{idOrganizacion}}" class="btn btn-danger">Cancelar</a>
    </div>
</form>
{{/partial}}
{{> layout.html.hbs }}