{{# partial "contenido" }}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="/organizaciones/{{idOrganizacion}}">{{nombreOrganizacion}}</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="/organizaciones/{{idOrganizacion}}/entidades/{{tipoEntidad}}/{{idEntidad}}">{{nombreEntidad}}</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="/organizaciones/{{idOrganizacion}}/entidades/{{tipoEntidad}}/{{idEntidad}}/egresos/{{idEgreso}}">Egreso {{idEgreso}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Nuevo ítem</li>
    </ol>
</nav>
<h1>Nuevo Ítem</h1>
<form action="/organizaciones/{{idOrganizacion}}/entidades/{{tipoEntidad}}/{{idEntidad}}/egresos/{{idEgreso}}/items" method="POST">
    <div class="form-group">
        <label for="desc">Descripción</label>
        <input type="text" class="form-control" id="desc" name="descripcion">
        <label for="precioUnit">Precio unitario</label>
        <input type="number" class="form-control" id="precioUnit" name="precioUnitario">
        <label for="cantUnidades">Cantidad de unidades</label>
        <input type="number" class="form-control" id="cantUnidades" name="cantidad">
        <hr>
        <div class="text-center">
            <input type="submit" class="btn btn-success btn-block" value="Crear ítem">
            <br>
            <a href="/organizaciones/{{idOrganizacion}}/entidades/{{tipoEntidad}}/{{idEntidad}}/egresos/{{idEgreso}}" class="btn btn-danger">Cancelar</a>
        </div>
    </div>
</form>
{{/partial}}
{{> layout.html.hbs }}