{{# partial "contenido" }}
    <div class="div-form-alta">
        <h1>Nuevo Egreso</h1>
        <form class="form-alta" action="../egresos" method="POST">
            <label for="fechaOp">Fecha de operación</label>
            <input type="date" id="fechaOp" name="fechaOperacion" value="2020-01-01">
            <label for="proveedores">Proveedores</label>
            <select id="proveedores" name="proveedor">
                {{#each proveedores}}
                    <option value="{{this.id}}">{{this.nombre}}</option>
                {{/each}}
            </select>
            <label for="medioPago">Medio de pago</label>
            <select id="medioPago" name="medioDePago">
                {{#each mediosDePago}}
                    <option value="{{this.id}}">{{this.identificador}} - {{this.medio}}</option>
                {{/each}}
            </select>
            <label for="moneda">Moneda</label>
            <select id="moneda" name="moneda">
                {{#each monedas}}
                    <option value="{{this.id}}">{{this.description}}</option>
                {{/each}}
            </select>
            <hr>
            <span>Documento Comercial</span>
            <label for="tipoDocCom">Tipo</label>
            <select id="tipoDocCom" name="tipo-doc-comercial">
                {{#each tiposDocumentoComercial}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <label for="numeroDocCom">Número</label>
            <input type="number" id="numeroDocCom" name="numeroDocComercial">
            <hr>
            <span>Etiquetas</span>
            {{#each etiquetasDisponibles}}
                <div class="checkbox-label-div">
                    <label for="{{this}}">{{this}}</label>
                    <input type="checkbox" id="{{this}}" name="etiquetas" value="{{this}}" id={{this}}>
                </div>
            {{/each}}
            <hr>
            <span>Presupuestos</span>
            <div class="checkbox-label-div">
                <label for="presupuestos">Requiere presupuestos</label>
                <input type="checkbox" name="presupuestoCheck" id="presupuestos">
            </div>
            <label for="criterioSeleccion">Criterio de selección de presupuesto</label>
            <select id="criterioSeleccion" name="criterioSeleccionPresupuesto">
                {{#each criteriosSeleccionPresupuesto}}
                    <option selected disabled hidden style='display: none' value=''></option>
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <hr>
            <div class="checkbox-label-div">
                <label for="revisor">Quiero ser revisor de este egreso</label>
                <input type="checkbox" name="revisorCheck" id="revisor">
            </div>
            <input type="submit" class="submit-button" value="Crear Egreso">
        </form>
    </div>
{{/partial}}
{{> layout.html.hbs }}