{{# partial "contenido" }}
    <div class="div-form-alta">
        <h1>Nuevo Presupuesto</h1>
        <form class="form-alta" action="../presupuestos" method="POST">

            <label for="proveedores">Proveedores</label>
            <select id="proveedores" name="proveedor">
                {{#each proveedores}}
                    <option value="{{id}}">{{nombre}}</option>
                {{/each}}
            </select>

            <label for="moneda" class="nombre-campo">Moneda</label>
            <select id="moneda" name="moneda">
                {{#monedaEgreso}}
                    <option selected="true" value="{{id}}" name="moneda">{{description}}</option>
                {{/monedaEgreso}}
            </select>

            <hr>
            <span>Documento Comercial</span>
            <label for="tipoDocCom">Tipo</label>
            <select id="tipoDocCom" name="tipo-doc-comercial">
                {{#each tiposDocumentoComercial}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <label for="numeroDocCom">Número</label>
            <input type="number" id="numeroDocCom" name="numeroDocComercial">
            <hr>

            <span>Ítems</span>
            <table class="tabla-items-alta-presupuesto">
                <tr>
                    <th>Descripción</th>
                    <th>Cantidad de unidades</th>
                    <th>Precio unitario</th>
                </tr>
                {{#itemsEgreso}}
                <tr>
                    <td>{{descripcion}}</td>
                    <td>{{cantidadUnidades}}</td>
                    <td><input type="number" name="{{id}}"></td>
                </tr>
                {{/itemsEgreso}}
            </table>
            <hr>

            <input type="submit" class="submit-button" value="Crear Presupuesto">
        </form>
    </div>
{{/partial}}
{{> layout.html.hbs }}

